First Session
--

In [2]:
print("Hello World")

Hello World

In [3]:
Book1 = "Learn Python"
print(Book1)
len(Book1)

Learn Python

12

In [4]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
x= 1
y = 1+5+\
3+2+\
6+8

a=1; b=2; c =3;

print(x); print(y);

1
25

In [6]:
greetings = "Hello"
print(greetings)

greetings = "Hello "
print(greetings)

greetings = "'Hello'"
print(greetings)

greetings = """Hello, welcome to the world of comment"""
print(greetings)

Hello
Hello
'Hello'
Hello, welcome to the world of comment

In [7]:
print("I'd much rather you 'not'.")

#Syntax error
print('I"said" do not touch this.'
      
print("; worked at the end");
      
print("; is ;not needed at the end")

SyntaxError: invalid syntax (<ipython-input-7-94229f74be04>, line 6)

In [8]:
chapters = "There are 12 chapters in the book"
print(chapters)

There are 12 chapters in the book

In [9]:
oddnum = "1,3,5,7,9,11,13,15,17,19"
print(oddnum)

1,3,5,7,9,11,13,15,17,19

In [10]:
myfruits = "Apple Pear mango Banana Grapes"
print(myfruits)

Apple Pear mango Banana Grapes

In [11]:
book = " I have a python book"
print(book)
print(book[1])
print(book[1:5])
print(book[-1])
print(book[ :18])
print(book[0: ])
print(book[5:-2])

 I have a python book
I
I ha
k
 I have a python b
 I have a python book
ve a python bo

In [12]:
book1 = " I enjoy reading my python book"
len(book1)
print(book1[6] + book1[9]+book1[14]+book1[16])
print(book1[-3])
print(book1[35])
print(book1[10.5])

orn
o

IndexError: string index out of range

In [13]:
del(book)
print(book)

NameError: name 'book' is not defined

SECOND SESSION

In [ ]:
book1 = 'my book of'
book2 = 'python'

print(book1+book2)
print(book1+' '+book2)

print((book1+' ')*4)

print(book1, book2)

In [ ]:
fname = "Akash"
lname = "Nakashe"
fullname = fname+" "+lname
print("Your name is ", fullname)

In [15]:
book = "I have a python book"

print('x' in book)
print('o' in book)
print('f' not in book)

False
True
True

In [16]:
list(enumerate(book))

[(0, 'I'),
 (1, ' '),
 (2, 'h'),
 (3, 'a'),
 (4, 'v'),
 (5, 'e'),
 (6, ' '),
 (7, 'a'),
 (8, ' '),
 (9, 'p'),
 (10, 'y'),
 (11, 't'),
 (12, 'h'),
 (13, 'o'),
 (14, 'n'),
 (15, ' '),
 (16, 'b'),
 (17, 'o'),
 (18, 'o'),
 (19, 'k')]

In [17]:
book.upper()

'I HAVE A PYTHON BOOK'

In [18]:
book.lower()

'i have a python book'

In [21]:
' '.join(('I', 'am', 'a', 'student', 'of', 'BTech', 'CSBS'))

'I am a student of BTech CSBS'

In [22]:
book.split()

['I', 'have', 'a', 'python', 'book']

In [23]:
'I am a boy'.find('b')

7

In [24]:
'I am a girl'.replace('girl', 'boy')

'I am a boy'

In [25]:
a = 'I am a boy 201'
sorted(a)

[' ', ' ', ' ', ' ', '0', '1', '2', 'I', 'a', 'a', 'b', 'm', 'o', 'y']

In [26]:
name = "Kartik"
age = "18"
mydetail = name+" "+age
mylen = len(mydetail)
r_is = mydetail.find('r')
mysplit = mydetail.split()

In [27]:
print(name)
print(age)
print(mydetail)
print(mylen)
print(r_is)
print(mysplit)

Kartik
18
Kartik 18
9
2
['Kartik', '18']

In [28]:
x = 1
y = 2.8
z = 1j
u = 35e3
v = 12E4
w = -87.7e100

print(type(x))
print(type(y))
print(type(z))
print(type(u))
print(type(v))
print(type(w))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'float'>
<class 'float'>
<class 'float'>

In [29]:
x = 1
y = 2.8
z = 1j
a = float(x)
b = int(y)
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [30]:
abs(-12)

12

In [31]:
round(3.5)

4

In [32]:
round(34.5678, 2)

34.57

In [33]:
max(12, 2, 44, 199)

199

In [34]:
min(12, 2, 56, 100)

2

In [35]:
pow(2, 3)

8

In [36]:
x = 5
y=2
print(x%y)
print(y%x)
print(x**y)
print(y**x)
print(x//y)
print(y//x)

1
2
25
32
2
0

In [37]:
x = (1, 2)
y = (2, 3)
x != y

True

In [38]:
z = 45
y = 30
z > y

True

In [39]:
x = 15
z = 12

is_greater = x > z
is_less = x < z
is_equal = x == z
is_greater_equal = x >= z
is_less_equal = x <= z

In [40]:
4*9/10

3.6

In [41]:
import math
math.e
math.log(2)
math.log(2, 2)
math.sin(45)
math.cos(0)
math.tan(45)
math.degrees(90)
math.radians(90)
math.ceil(3.621)
math.ceil(3.421)
math.floor(3.621)
math.floor(3.421)

3

In [42]:
x = input("ENter your name")
print("Hello ", x)

ENter your nameLeo
Hello  Leo

In [43]:
p = 199919.19
r = 0.05
t = 2

SI = p*r*t
print(SI)

19991.919

In [47]:
import math
a = int(input("Enter value of a\n"))
b = int(input("Enter value of b\n"))
c = int(input("Enter value of c\n"))

x1 = (-b+math.sqrt((b**2) - (4*a*c)))/(2*a)
x2 = (-b-math.sqrt((b**2) - (4*a*c)))/(2*a)

print("x1 =", x1,"\nx2 =", x2)

Enter value of a
20
Enter value of b
400
Enter value of c
33
x1 = -0.08284314936987584
x2 = -19.917156850630125