In [1]:
num = {1, 2, 3}
print(num)
print(type(num))

num1 = {2.0, "Hello", (1, 2, 3)}
print(num1)
print(type(num1))

{1, 2, 3}
<class 'set'>
{2.0, (1, 2, 3), 'Hello'}
<class 'set'>

In [10]:
a = {}
print(type(a))

x = set()
print(type(x))

y = set("Python")
print(y)

<class 'dict'>
<class 'set'>
{'y', 'P', 'o', 't', 'h', 'n'}

In [14]:
numset = {1, 2, 5, 6, 3, 2, 1, 1, 4, 5, 3}
print(numset)

'''
listset = {2, 3, [5, 6]}
print(listset)
'''

tupleset = {2, 3, (5, 6)}
print(tupleset)

{1, 2, 3, 4, 5, 6}
{2, 3, (5, 6)}

In [15]:
numset.add(10)
print(numset)

numset.update([7, 8, 9])
print(numset)

numset.update([11, 12], {13, 14, 15})
print(numset)

{1, 2, 3, 4, 5, 6, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [16]:
numset.discard(11)
print(numset)

numset.remove(7)
print(numset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15}
{1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 13, 14, 15}

In [17]:
y.pop()
print(y)

y.clear()
print(y)

num.clear()
print(num)

{'P', 'o', 't', 'h', 'n'}
set()
set()

In [18]:
set1 = {'a', 'b', 'c'}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 'b', 3, 'c'}

In [34]:
fruitset = set(("apple", "cherry", "peach"))
print(fruitset)
print(type(fruitset))

{'peach', 'apple', 'cherry'}
<class 'set'>

In [35]:
x = {"apple", "cherry", "peach"}
y = {"microsoft", "google", "apple"}

z = x.intersection(y)
print(z)

{'apple'}

In [36]:
sd = x.symmetric_difference(y)
print(sd)

{'cherry', 'microsoft', 'peach', 'google'}

In [37]:
d = x.difference(y)
print(d)

{'peach', 'cherry'}

In [38]:
idis = x.isdisjoint(y)
print(idis)

False

In [39]:
myDict = {
    "fname":"Kartik",
    "lname":"Padave",
    "address":"Kendriya Vihar",
    91: 81081
}
print(myDict)

{'fname': 'Kartik', 'lname': 'Padave', 'address': 'Kendriya Vihar', 91: 81081}

In [40]:
x = myDict["fname"]
print(x)

y = myDict["address"]
print(y)

Kartik
Kendriya Vihar

In [41]:
myDict["address"] = "Malad"
print(myDict)

myDict["email"] = "padavekartik@gmail.com"
print(myDict)

{'fname': 'Kartik', 'lname': 'Padave', 'address': 'Malad', 91: 81081}
{'fname': 'Kartik', 'lname': 'Padave', 'address': 'Malad', 91: 81081, 'email': 'padavekartik@gmail.com'}

In [42]:
for x in myDict:
    print(x)

print("---------")

for x in myDict:
    print(myDict[x])
    
print("---------")

for x in myDict.values():
    print(x)

fname
lname
address
91
email
---------
Kartik
Padave
Malad
81081
padavekartik@gmail.com
---------
Kartik
Padave
Malad
81081
padavekartik@gmail.com

In [43]:
#myDict.pop("aDdress")
#print(myDict)

del myDict["address"]
print(myDict)

{'fname': 'Kartik', 'lname': 'Padave', 91: 81081, 'email': 'padavekartik@gmail.com'}

In [44]:
myDict.clear()
print(myDict)

{}

In [45]:
thisDict = {
    "fname":"Kartik",
    "lname":"Padave",
    "address":"Kendriya Vihar",
}

myDict = thisDict.copy()
print(myDict)

{'fname': 'Kartik', 'lname': 'Padave', 'address': 'Kendriya Vihar'}

In [46]:
myFamily = {
    "child1": {
        "name":"Kartik",
        "year":2001
    },
    "child2": {
        "name":"Akash",
        "year":"1995"
    },
    "child3": {
        "name":"Arya",
        "year":"2000"
    }
}

print(myFamily)

{'child1': {'name': 'Kartik', 'year': 2001}, 'child2': {'name': 'Akash', 'year': '1995'}, 'child3': {'name': 'Arya', 'year': '2000'}}

In [47]:
child1 = {
        "name":"Kartik",
        "year":2001
    }
child2 = {
        "name":"Akash",
        "year":"1995"
    }
child3 = {
        "name":"Arya",
        "year":"2000"
    }
    
myFam = {
    "child1": child1,
    "child2": child2,
    "child3": child3
}

print(myFam)

{'child1': {'name': 'Kartik', 'year': 2001}, 'child2': {'name': 'Akash', 'year': '1995'}, 'child3': {'name': 'Arya', 'year': '2000'}}

In [48]:
myNum = {}
for x in range(1, 16):
    myNum[x] = x*x*x
    
print(myNum)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375}